body {
  padding: 8px;
}

.prompt {
  margin: 30px 0 8px 0!important;
}

.local-directory-full-path {
  margin: 8px 0!important;
}

.diff {
  font-size: 0.85rem!important;
}

.diff-line > .diff-code-delete,
.diff-line > .diff-code-insert,
.diff-line > .diff-gutter-delete,
.diff-line > .diff-gutter-insert {
  color: #000;
}

:root {
  --diff-text-color: #AAA!important;
  --diff-code-insert-background-color: #c7efd5!important;
  --diff-code-delete-background-color: #f6c7cb!important;
}